body{
	background: #BDBDBD;
	margin: 0;
}
div{
	box-sizing: border-box;
}
header{
	background: white;
	padding: 10px;
}
header h1{
	margin: 0;
}
div.container{
	width: 600px;
	margin: auto;
}
div.post{
	background: white;
	margin-top: 10px;
}
div.post .post-header div:first-child{
	width: 80%;
	display: inline-block;
}
div.post .post-header div:last-child{
	width: 20%;
	display: inline-block;
	text-align: right;
	padding: 10px;
	color: gray;
}
div.post h2, div.post p{
	padding: 10px;
	margin: 0;	
}
div.post img{
	width: 100%;
}
